*, *:before, *:after {
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url(./media/background.png);
    background-size: cover;
    height: 100 vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

.navbar {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
}

.primary-nav {
    position: relative;
    left: 5em;
}

.secondary-nav {
    position: relative;
    left: 400px;
}

.primary-nav form {
    position: relative;
    margin: 0 200px;
    top: 1.8em;
    left: 2em;
}

ul {
    display: inline-flex;
}

ul li {
    list-style: none;
    font-size: 15px;
    padding: 0 3em;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container {
    position: relative;
    left: 5em;
    top: 5em;
}

.container h1 {
    position: relative;
    top: 1.64em;
    left: 1em;
    font-size: 100px;
}

.container p {
    position: relative;
    left: 25em;
}

.container::before {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    content: '';
    height: 500px;
    width: 600px;
    border-radius: 10%;
    z-index: -1;
}

.search{
    margin:7px;
}

.search input[type=text]{
    width:500px;
    height:35px;
    border-radius: 100px;
    border-color: #f2f2f2;
    border-width: 0.5px;
    outline: none;
    text-indent: 55px;
    font-size: 17px;
}

footer {
    position: absolute;
    right: 5em;
    bottom: 3em;
}